<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
	<h1>編集</h1>
	<form action="#" th:action="@{/demo/{id}/update(id=*{id})}" th:object="${user}" th:method="put">
		<p>名前：<input type="text" name="userName" th:value="${user.userName}" /> </p>
		<p>メールアドレス：<input type="email" name="email" th:field="*{email}" /> </p>
		<input type="submit" value="編集">
	</form>

</body>
</html>
